@font-face {
  font-family: "girassolregular";
  src: url('girassol-regular-webfont.woff2') format('woff2'),
       url("girassol-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;

}